@import "tailwindcss";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Tons de Marron */
  --color-primary-50: #F5F2EF;
  --color-primary-100: #E4DAD3;
  --color-primary-200: #D2C2B7;
  --color-primary-300: #C0AA9B;
  --color-primary-350: #BE946F;
  --color-primary-400: #AE927E;
  --color-primary-500: #9D7B62;
  --color-primary-600: #816551;
  --color-primary-700: #6E5645;
  --color-primary-800: #48382D;
  --color-primary-900: #2C221B;
  --color-primary-950: #100C0A;
/*Tons de Marron */
  --color-secondary-50: #CCAB8E;
  --color-secondary-100: #B89A80;
  --color-secondary-200: #A38973;
  --color-secondary-300: #907965;
  --color-secondary-400: #7D6958;
  --color-secondary-500: #6A5A4C;
  --color-secondary-600: #584B3F;
  --color-secondary-700: #473C34;
  --color-secondary-800: #362E28;
  --color-secondary-900: #26211D;
  --color-secondary-950: #171412;
/* Tons de Laranja */
  --color-tertiary-50: #FBF2E9;
  --color-tertiary-100: #F4DBC3;
  --color-tertiary-200: #EDC49C;
  --color-tertiary-300: #E6AD75;
  --color-tertiary-400: #DF964E;
  --color-tertiary-500: #D78028;
  --color-tertiary-600: #B16920;
  --color-tertiary-700: #8A5219;
  --color-tertiary-800: #633B12;
  --color-tertiary-900: #3C240B;
  --color-tertiary-950: #160D04;

}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

/* Desativa animação dos placeholders do Flowbite-Svelte */
.animate-pulse, .animate-shimmer {
  animation: none !important;
}